:root {
    --main-bg-color: #000;
    --console-bg-color: #16B7CC;
    --screen-bg-color: #809E84;
    --screen-border-accent-color: #E936AB;
    --main-color: #0FF;
    --main-hover-color: #00B1B1;
    --second-color: #C4286E;
    --second-hover-color: #AA2460;
    --screen-main-color: #292E40;
    --main-accent-color: #E83636;
    --controls-border-color: #606060;
    --lamp-off-color: #117E39;
    --lamp-on-color: #1DD660;
}